#choose {
    position: fixed;
    top: 50%;
    left: 40%;
}

.btnc {
    width: 120%;
}

#back-button {
    position: absolute;
    left: 10px;
    top: 10px;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
}

td {
    border: 1px solid black;
}

#shop {
    position: absolute;
    top: 20%;
    left: 10px;
    width: 100%;
}

.inventory-item {
    width: 54px;
    height: 54px;
}

.stat-dynamic {
    color: red;
}

.stat-static {
    color: green;
}

.stat-total {
    font-weight: bold;
    color: coral;
}

.item-empty {
    /* This is empty item */
    background-color: gray;
}